@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eceaea;
  font-family: "Roboto", sans-serif;
  color: #3a362c;
}

.filled-title {
  background-color: #2da6af; /* didn't pass contrast test*/
  /* background-color: #1d6c72; */
  /*  background-color: #4c4843; */
  padding: 5px;
  color: white;
  text-align: center;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #2da6af;
  font-weight: 500;
  align-self: center;
  margin-top: 20px;
}

h3 {
  color: #2da6af;
  font-weight: 500;
  align-self: flex-start;
  margin-top: 25px;
}

.main-text {
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
}

p {
  margin-top: 15px;
}

li {
  color: #3a362c;
}

.header {
  background-image: url(./assets/bg-mobile-ipad-640.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  height: 400px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 6%;
  margin-top: 6%;
}

.logo {
  width: 40px;
}

.header-text {
  display: flex;
  flex-direction: column;
  margin-left: 6%;
  line-height: 1.2;
  position: relative;
  top: 15%;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

.portfolio {
  font-weight: 100;
}

.my-position {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 2px;
}

.my-background {
  font-size: 1.3rem;
  margin-top: 2%;
  font-weight: 400;
}

.my-picture {
  width: 110px;
  border-radius: 50%;
  border: solid white 3px;
  align-self: flex-end;
  position: relative;
  top: 100px;
  margin-right: 6%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.section {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center; /* this aligns the titles"*/
}

.summary {
  margin-top: 10%;
}

.tech {
  display: flex;
  flex-direction: column;
  text-align: center; /*added to align title*/
}

.magazine {
  width: 100%;
  margin-top: 20px;
}

.my-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.skills h3 {
  text-align: center; /* list 1 aligns*/
}

.skills {
  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-top: 10px;
}

.for-more {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.social-media2 {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.logo {
  width: 70px;
}
.contact {
  width: 100%;
  margin: 0;
  height: 300px;
  background-color: teal;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: #eceaea;
  font-family: "Montserrat", sans-serif;
}

.info {
  margin-top: 0;
  color: #eceaea;
}

.contact h2 {
  margin-bottom: 30px;
  color: #eceaea;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 500px;
  }

  .logo {
    width: 50px;
  }

  .header-text {
    position: relative;
    top: 7%;
  }

  .title {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
  }

  .portfolio {
    font-weight: 100;
  }

  .my-position {
    font-size: 3.5rem;
    line-height: 1;
    letter-spacing: 2px;
  }

  .my-background {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .my-picture {
    width: 160px;
    border-radius: 50%;
    border: solid white 3px;
    align-self: flex-end;
    position: relative;
    top: 40px;
    margin-right: 6%;
  }

  .section {
    margin: 3%;
  }

  .summary {
    margin-top: 5%;
  }
}

/*** Media queries for Desktop ****/

@media only screen and (min-width: 1024px) {
  /*Header*/

  .header {
    /* background-image: url("./assets/background-desktop.jpg"); */
    background-image: url("./assets/beach-01.jpg");
    background-size: cover;
    width: 100%;
    height: 600px;
  }

  .logo {
    width: 50px;
  }

  .header-text {
    position: relative;
    top: 7%;
  }

  .title {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
  }

  .portfolio {
    font-weight: 100;
  }

  .my-position {
    font-size: 4rem;
    line-height: 1;
    letter-spacing: 2px;
  }

  .my-background {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 0.7;
  }

  .my-picture {
    width: 230px;
  }
}
